.form-control {
  color: yellow;
}
.form-control {
  border-color: rgba(238, 190, 58, 0.972);
  color: rgba(0, 0, 0, 0.972);
}
.form-control:focus {
  color: rgba(0, 0, 0, 0.972);
  border-color: rgba(238, 190, 58, 0.972);
}
.form-group > .text-muted {
  color: rgba(238, 190, 58, 0.972);
}
.nav-tabs {
  border-top: rgba(238, 190, 58, 0.972);
}
.ql-toolbar.ql-snow {
  border: 1px solid rgba(238, 190, 58, 0.972);
}
.ql-editor.ql-blank {
  height: 400px !important;
}
.ql-editor {
  height: 400px !important;
}

.ql-stroke {
  stroke: rgba(214, 166, 34, 0.972);
}
.ql-toolbar.ql-snow {
  background-color: rgba(238, 190, 58, 0.972) !important;
}
.ql-picker-item {
  background-color: rgba(238, 190, 58, 0.972) !important;
  border-color: rgba(238, 190, 58, 0.972);
  background: rgba(238, 190, 58, 0.972) !important;
}

.ql-snow .ql-picker-options {
  background-color: rgba(238, 190, 58, 0.972);
}
::after,
::before {
  color: black;
}
.text-muted {
  color: rgba(238, 190, 58, 0.972) !important;
}
.ql-editor > p {
  height: 30px;
}
.element.style {
  color: rgba(0, 0, 0, 0.972);
}
p {
  display: inline;
}
.ql-container.ql-snow {
  border: 2px solid rgba(238, 190, 58, 0.972);
}
.ql-snow a {
  color: rgba(85, 171, 228, 0.972);
}
